---
const { frontmatter } = Astro.props;
---

<div>
  <h2>{frontmatter.title}</h2>

  <div class="img-switcher">
    <img
      id="mainImg"
      class="main-img"
      src={`/07_ecsite/images/${frontmatter.thumbnail[0]}`}
      alt="メイン画像"
    />
    <div class="thumbnails">
      <button class="thumb-btn active">
        <img
          class="thumb-img"
          src={`/07_ecsite/images/${frontmatter.thumbnail[0]}`}
          alt="犬1"
        />
      </button>
      <button class="thumb-btn">
        <img
          class="thumb-img"
          src={`/07_ecsite/images/${frontmatter.thumbnail[1]}`}
          alt="犬2"
        />
      </button>
      <button class="thumb-btn">
        <img
          class="thumb-img"
          src={`/07_ecsite/images/${frontmatter.thumbnail[2]}`}
          alt="犬3"
        />
      </button>
    </div>
  </div>
  <slot />

  <style lang="scss">
    .img-switcher {
      max-width: 900px;
      margin: 20px auto;
    }
    .main-img {
      width: 100%;
      aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: 20px;
    }
    .thumbnails {
      display: flex;
      gap: 4%;
      margin-top: 4%;
    }
    .thumb-btn {
      width: 22%;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;
    }
    .thumb-img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 20px;
    }
    .active {
      opacity: 0.5;
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const mainImg = document.getElementById("mainImg");
      const thumbBtns = document.querySelectorAll(".thumb-btn");

      thumbBtns.forEach((btn) => {
        btn.addEventListener("click", function () {
          const img = this.querySelector("img");
          mainImg.src = img.src;
          mainImg.alt = img.alt;

          thumbBtns.forEach((btn) => btn.classList.remove("active"));
          this.classList.add("active");
        });
      });
    });
  </script>
</div>
